<html>

<head>
  <meta name=Title content="">
  <meta name=Keywords content="">
  <meta http-equiv=Content-Type content="text/html; charset=macintosh">
  <meta name=Generator content="Microsoft Word 15 (filtered)">
  <style>
    <!--
    /* Font Definitions */
    @font-face
    {font-family:Arial;
      panose-1:2 11 6 4 2 2 2 2 2 4;}
    @font-face
    {font-family:"Cambria Math";
      panose-1:0 0 0 0 0 0 0 0 0 0;}
    @font-face
    {font-family:Calibri;
      panose-1:2 15 5 2 2 2 4 3 2 4;}
    /* Style Definitions */
    p.MsoNormal, li.MsoNormal, div.MsoNormal
    {
      margin: 0in 0in .0001pt;
      font-size:12.0pt;
      font-family:Calibri;}
    a:link, span.MsoHyperlink
    {color:blue;
      text-decoration:underline;}
    a:visited, span.MsoHyperlinkFollowed
    {color:purple;
      text-decoration:underline;}
    .MsoChpDefault
    {font-size:10.0pt;
      font-family:Calibri;}
    @page WordSection1
    {size:8.5in 11.0in;
      margin:1.0in 1.0in 1.0in 1.0in;}
    div.WordSection1
    {page:WordSection1;}
    -->
  </style>

</head>

<body lang=EN-US link=blue vlink=purple>

<div class=WordSection1>

  <p class=MsoNormal style='text-autospace:none'><span style='font-size:12.0pt'>Hello
David,</span></p>

  <p class=MsoNormal style='text-autospace:none'><span style='font-size:12.0pt'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Status report week of <%= lastsunday %></span></p>

  <p class=MsoNormal style='text-autospace:none'><span style='font-size:14.0pt'>&nbsp;</span></p>

  <p class=MsoNormal style='text-autospace:none'><span style='font-size:12.0pt'>Working on:</span></p>

  <% worklist.each do |item| %>
  <p class=MsoNormal style='text-indent:48.0pt;text-autospace:none'><span
  style='font-size:12.0pt;white-space: nowrap'><%= item %></span></p>
  <% end %>


  <p class=MsoNormal style='text-indent:48.0pt;text-autospace:none'><span
  style='font-size:15.0pt'>&nbsp;</span></p>

  <p class=MsoNormal style='text-autospace:none'><b><span style='font-size:13.0pt;
      font-family:Arial;color:#0003FF'>Jamin Shanti </span></b><span
  style='font-size:13.0pt;font-family:Arial'>| Senior Systems Analyst, DevOps</span></p>

  <p class=MsoNormal style='text-autospace:none'><span style='font-size:13.0pt;
      font-family:Arial'>T: 804.356.7414 W: 704.595.4723 | <a
  href="mailto:Jamin_Shanti@belk.com">Jamin_Shanti@belk.com</a></span></p>

  <p class=MsoNormal style='text-autospace:none'><span style='font-size:13.0pt;
      font-family:Arial'>Belk, Inc. | 2801 W. Tyvola Road, Charlotte, NC 28217 | <a
  href="http://belk.com/"><span style='color:#0B4CB4'>belk.com</span></a></span></p>

  <p class=MsoNormal style='text-autospace:none'><span style='font-size:13.0pt;
      font-family:Arial'>LinkedIn: <a
  href="https://www.linkedin.com/pub/jamin-shanti/32/384/393">https://www.linkedin.com/pub/jamin-shanti/32/384/393</a></span></p>

  <p class=MsoNormal><span style='font-size:15.0pt'>&nbsp;</span></p>

</div>

</body>

</html>
